.App {
    text-align: center;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
h4 {
    font-size: 40px;
}

p {
    font-size: 24px;
    margin: 12px 0;
}
